asgiref==3.2.10
Django==3.1.2
django-filter==2.4.0
mysqlclient==2.0.1
Pillow==8.0.1
python-decouple==3.3
pytz==2020.1
sqlparse==0.4.1


dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.6.0
Unipath==1.0
python-decouple==3
Markdown==2.6.6
bleach==1.4.3
psycopg2==2.7
whitenoise==3.2