asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.0.8
idna==2.10
mysqlclient==2.0.1
Pillow==7.2.0
pytz==2020.1
requests==2.24.0
sqlparse==0.3.1
urllib3==1.25.10


dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.6.0
Unipath==1.0
python-decouple==3
Markdown==2.6.6
bleach==1.4.3
psycopg2==2.7
whitenoise==3.2