{% extends 'cooperapp/common/admin_sidebar.html' %}


{% block style_sheet %}
    {% load static %}
        <link   type="text/css" rel="stylesheet" href="{% static 'cooperapp/css/contribution_admin_dashboard.css' %}" />
        <!--date picker -->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>


    <style type="text/css">
      .datepicker, input[type=number]{
        width:100%;
        display: block;
        border-radius: 4px;
        border:0.1px solid;
        height: 40px;
      }
    </style>
{% endblock %}


{% block content %}
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <header>
                        <h3>CONTRIBUTION MANAGEMENT</h3>
                    </header>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 existing-contribution">
                            <div class="title">
                                <h3>CREATED COOPERATIVES</h3>
                            </div>
                            {% if user_projects %}
                              {% for user in user_projects %}
                                <div class="contribution-card">
                                    <div class="contribution-card-body">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>Name:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                 <h3>{{ user.project_name }}</h3>
                                            </div>
                                        </div>

                                         <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>DESCRIPTION:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                <h3>
                                                 {{ user.project_description  }}
                                                </h3>
                                            </div>
                                        </div>

                                         <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>CONTRIBUTION:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                 <h3>{{ user.project_contribution }}</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>DISTRIBUTION:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                 <h3>{{ user.project_distribution }}</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>DURATION:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                 <h3>
                                                    {{ user.project_duration }}
                                                    <br/>
                                                    {{ user.start_date }} - {{ user.end_date }}
                                                 </h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>RETURNS:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                 <h3>{{ user.project_returns  }}</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>CONTRIBUTION <br/> AMOUNT:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                 <h3>{{ user.contribution_amount  }}</h3>
                                            </div>
                                        </div>
                                        <center>
                                             <a href="{% url 'cooperapp:projectcontributor' user.id  request.user.id %}"  >

                                              <button class="contributors">VIEW CONTRIBUTORS</button>
                                            </a>
                                        </center>
                                        
                                    </div>  
                                </div>
                              {% endfor %}
                            {% else %}
                               <h2>No Contribution Has Been Created</h2>
                            {% endif %}

                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 contribution-form">
                            <header>
                                <h3>
                                    Register New <br/> Contribution
                                </h3>
                            </header>
                            <form action="" method='POST' enctype="multipart/form-data" style="width:80%">
                                  {% csrf_token %}

                                  {{ a_form.as_p}}
                                  <center>

                                    <button class="create-ajo-btn">Submit</button>
                                  </center>
                            </form>

                            
                        </div>
                    </div>

                </div>

{% endblock %}



   





































<!-- 
<style type="text/css">
  .datepicker, input[type=number]{
    width:100%;
    display: block;
    border-radius: 4px;
    border:0.1px solid;
    height: 40px;
  }
</style>

<br/>
      <div class="container">
        <div class="row">

           <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                {% if user_projects %}
          {% for user in user_projects %}
        <div class="card" >
           <ul class="list-group list-group-flush">
              <li class="list-group-item">
                project name : {{ user.project_name }}
              </li>
              <li class="list-group-item">
                  project description : {{ user.project_description  }}
              </li>
              <li class="list-group-item">
                  project contribution : {{ user.project_contribution }}
              </li>
              <li class="list-group-item">
                  project distribution : {{ user.project_distribution }}
              </li>
              <li class="list-group-item">
                  project duration : {{ user.project_duration }}
              </li>
              <li class="list-group-item">
                  start date : {{ user.start_date }}
              </li>
              <li class="list-group-item">
                  end date : {{ user.end_date }}
              </li>
              <li class="list-group-item">
                  project returns : {{ user.project_returns  }}
              </li>
              
              <li class="list-group-item">
                  contribution amount : {{ user.contribution_amount  }}
              </li>
              

              <li class="list-group-item">
                <center>
                  <a href="{% url 'cooperapp:projectcontributor' user.id  request.user.id %}"  >
                    <button type="button" class="btn btn-primary">View Contributors</button>
                  </a> 
                </center> 
              </li>
              
            </ul>
        </div>
        <br/>
        
        {% endfor %}
        
        {% else %}
          <h2>No Ajo Has Been Created</h2>
        {% endif %}
        
        
    </div>  

                          
       



           <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <div class="card">
                 <div class="card-header" style="padding-top:10px;padding-left: 30px;">
                      <h3>Register Ajo</h3>
                 </div>
                 <div class="card-body" style="padding-left: 30px;">
                    <form action="" method='POST' enctype="multipart/form-data" style="width:80%">
                             {% csrf_token %}



                             {{ a_form.as_p}}


                        <br/>
                         <button type='submit' class='btn btn-success' style="width:100%;">Submit</button>
                         <br/>
                     </form>
                     <br/>
                  </div>

            </div>


           </div>



      </div>



 -->