{% extends 'cooperapp/base.html' %}
<!--
<form action="" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                
                
                
                {{ u_form.as_p}}
                {{ p_form.as_p }}
  


                <button type='submit' class='btn btn-success log'><h4>Submit</h4></button>
              </form>
              --> 

{% block contentheader %}
    Edit Profile
{% endblock %}
{% block content %}
 <div class="container">
      				<form action="" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                
                
                
                {{ u_form.as_p}}
                {{ p_form.as_p }}
  


                <button type='submit'class='btn btn-success' style="width:100%"><h4>Submit</h4></button>
              </form>


      </div> 




 
{% endblock %}     