{% extends 'cooperapp/indexbase.html' %}

      <!-- Masthead -->



        {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-9 mx-auto" style="text-decoration-color: brown;">
                  <h1 class="mb-5" >Cooper</h1>
                  <h4 class="mb-5" > Your Rewarding Financial Partner</h4>
                </div>
              </div>
        <div class="overlay">
            <!-- <a class="btn btn-primary " href="login.html">Equity Investment</a>
            <a class="btn btn-success " href="login.html">Loan Sponsorship</a> -->
        </div>
      </div>
{% endblock %}




