{% extends 'cooperapp/common/admin_sidebar.html' %}


{% block style_sheet %}
    {% load static %}
        <link   type="text/css" rel="stylesheet" href="{% static 'cooperapp/css/contribution_admin_dashboard.css' %}" />
        
{% endblock %}


{% block content %}
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <header>
                        <h3>PROFILE</h3>
                    </header>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 existing-contribution">
                            <div class="title">
                                <h3>PROFILE DETAILS</h3>
                            </div>
                           
                                <div class="contribution-card">
                                    <div class="contribution-card-body">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>User Name:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                 <h3>{{ user.username }}</h3>
                                            </div>
                                        </div>

                                         <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>DESCRIPTION:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                <h3>
                                                 {{ user.userprofile.description}}
                                                </h3>
                                            </div>
                                        </div>

                                         <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>First-Name:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                 <h3>{{ user.first_name }}</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>Last-Name:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                 <h3>{{ user.last_name}}</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 content-title">
                                                <h3>City:</h3>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-body">
                                                 <h3>
                                                    {{ user.userprofile.city }}
                                                    
                                                 </h3>
                                            </div>
                                        </div>

                                       
                                        
                                        
                                        
                                    </div>  
                                </div>
                             
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 contribution-form">
                            <header>
                                <h3>
                                   UPDATE PROFILE <br/> DETAILS
                                </h3>
                            </header>
                            <form action="" method='POST' enctype="multipart/form-data" style="width:80%">
                                  {% csrf_token %}

                                  {{ u_form.as_p}}
                                  {{ p_form.as_p }}
                                  <center>

                                    <button class="create-ajo-btn">Submit</button>
                                  </center>
                            </form>

                            
                        </div>
                    </div>

                </div>

{% endblock %}





















<!-- 

      <div class="container">
         <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <center>
          <div class="card" >
            {% if  user.staffprofile.image %}
               <img  class="card-img-top" src="{{ user.userprofile.image.url }}">
              {% else %}
                   <img src="../images/staff.jpg" alt="Card image cap">
               {% endif %}
           
            <div class="card-body">
            <h2 class="card-title">User-Name:{{ user.username }}</h2>
            <h4 class="card-text">Description: {{ user.userprofile.description}}</h4>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">First-Name:{{ user.first_name }}</li>
            <li class="list-group-item">Last-Name:  {{ user.last_name}}</li>
            <li class="list-group-item">city: {{ user.userprofile.city }}</li>
            <li class="list-group-item">
                    {% if user.userprofile.user_role == "ajo" %}
                         <a href="{% url 'cooperapp:editcompanyprofile' %}" >
                            <button type="button" class="btn btn-primary">Edit Profile</button>
                          </a>
                          <a href="{% url 'cooperapp:projectform' %}" >
                              <button type="button" class="btn btn-success">Add Project</button>
                          </a>
                          <a href="{% url 'cooperapp:projectbyuser' user.id %}" >
                              <button type="button" class="btn btn-info">view Projects</button>
                          </a>
                     {% elif user.userprofile.user_role == "co-operative" %}  
                           --   <a href="{% url 'cooperapp:editcompanyprofile' %}" >
                            <button type="button" class="btn btn-primary">Edit Profile</button>
                          </a> --
                          <a href="{% url 'cooperapp:cooperativeprojectform' %}" >
                              <button type="button" class="btn btn-success">Add Project</button>
                          </a> 
                           <a href="{% url 'cooperapp:cooperativeprojectform' %}" >
                              <button type="button" class="btn btn-info">view Projects</button>
                          </a>  
                    {% else %} 
                          --  <a href="{% url 'cooperapp:editcompanyprofile' %}" >
                            <button type="button" class="btn btn-primary">Edit Profile</button>
                          </a>
                          <a href="{% url 'cooperapp:allcontributionactiveproject' user.id %}" >
                              <button type="button" class="btn btn-info">view AJo Projects</button></a>
                              <br/>
                              <br/>
                             <a href="{% url 'cooperapp:allcopcontributionactiveproject' user.id %}" >
                              <button type="button" class="btn btn-info">view Co-operative Projects</button></a>  --
                    {%endif%}
                       

            </li>
            </ul>
           
          </div>
        </center>
      </div> 
      {% if request.user.userprofile.user_role == "co-operative" or request.user.userprofile.user_role == "ajo" %}

            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
              <div class="card" style="width:86%">
                 <div class="card-header" style="padding-top:10px;padding-left: 30px;">
                      <h3>Update Cooperative Info</h3>
                 </div>
                 <div class="card-body" style="padding-left: 30px;">
                  <form action="" method='POST' enctype="multipart/form-data" style="width:80%">
                    {% csrf_token %}
                    
                    
                    
                    {{ u_form.as_p}}
                    {{ p_form.as_p }}
      
                      <br/>

                    <button type='submit'class='btn btn-success' style="width:100%">Submit</button>
                    <br/>
                     <br/>
                  </form>
                </div>


      </div> 
    </div>
    {%endif%}
</div>
</div>



         -->